<div class="hero hero-unit">
  <p class="large brandon">The wait is almost over.</p>
  <p class="small blk-playfair">Ethical fashion <br> made easy</p>
  <!-- <span style="background: 'logoicon180.png'"></span> -->
</div>

<div class="form-wrap clearfix <%= "ended" if Rails.application.config.ended %>">
  <% if Rails.application.config.ended %>
    <%= render "users/campaign_ended" %>
  <% else %>
    <%= render "users/campaign_ongoing" %>
  <% end %>
</div>
