<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie6 <%= @bodyId %>"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7 <%= @bodyId %>"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8 <%= @bodyId %>"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9 <%= @bodyId %>"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="<%= @bodyId %>"> <!--<![endif]-->
<head>
  <title>Candid&#8217;s &ndash; Give help by inviting friends</title>
  <!-- <title>Harry&#8217;s &ndash; Tell Friends, Shave for Free</title> -->
  <link rel="icon" href="<%= asset_path('favicon.ico') %>" type="image/x-icon">
  <link rel="shortcut icon" href="<%= asset_path('favicon.ico') %>" type="image/x-icon">
  <meta property="og:title" content="Candid | Ethical Made Easy"/>
  <meta property="og:type" content="Website"/>
  <meta property="fb:app_id" content="candidclothing.ph"/>
  <!-- <meta content="(View landscape if on mobile) Give help just by inviting friends and signing up. #EthicalMadeEasy"/> -->
  <meta property="og:description" content="Doing good can be as simple as getting dressed. (open in landscape mode for mobile)"/>
  <meta property="og:image" content="http://candidclothing.ph<%=asset_path("home/hero.jpg")%>"/>
  <meta property="og:url" content="<%= root_url %>"/>
  <% if @is_mobile %>
    <% if @bodyId == 'home' %>
      <meta name="viewport" content="width=1600" />
    <% else %>
      <meta name="viewport" content="width=1120" />
    <% end %>
  <% end %>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body id="<%= @bodyId %>">

<%= yield %>


</body>
</html>
